/* Coolors Exported Palette - coolors.co/0b380b-dcf4ab-3e8914-c2a878-d6e681 */

/* HSL */
$color1: hsla(120%, 67%, 13%, 1);
$color2: hsla(80%, 77%, 81%, 1);
$color3: hsla(98%, 75%, 31%, 1);
$color4: hsla(39%, 38%, 62%, 1);
$color5: hsla(70%, 67%, 70%, 1);

/* RGB */
$color1: rgba(11, 56, 11, 1);
$color2: rgba(220, 244, 171, 1);
$color3: rgba(62, 137, 20, 1);
$color4: rgba(194, 168, 120, 1);
$color5: rgba(214, 230, 129, 1);