body{
    background-color: #DCF4AB ;
    color: #0B380B;
    margin: 0;
}

.entrar, .cadastrar{
    /* background-color: rgba(63, 137, 20); */
    border:5px solid #3E8914;
    /* color: #DCF4AB; */
    display: flex;
    flex-direction: column;
}
.cadastrar{
    border-top-width: 0;
    border-right-width: 0;
    height: 75vh;
    margin-top:20px;
    padding: 40px;
    padding-top: 20px;
    width: 30vw;
}
.cadastrar h1{
    margin: 0px;
}
.entrar{
    border-bottom-width: 0;
    border-left-width: 0;
    height: 45vh;
    justify-content: center;
    margin-top: -25vh;
    padding: 25px;
    width: 20vw;
}
.pag-login{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.pag-login img{
    margin-left: -40vw;
    margin-top: 50vh;
    opacity: 0.7;
    width: 20vw;
}

.pag-index {
    display: grid;
    grid-template-areas: 'main main main main'
                         'header header header header'
                         'section section section section'
                         'footer footer footer footer';
    grid-template-columns: 25vw 25vw 25vw;
    grid-template-rows: 40vh 60vh 10vh;    
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3E8914;
    margin: none;
}

.pag-index main{
    grid-area: main;
    background-color: aqua;
}

.pag-index header{
    grid-area: header;
}

section{
    grid-area: section;
}

footer{
    grid-area: footer;
}

nav a{
    text-decoration: none;
    font-size: 18px;
    color: #DCF4AB;

}

input{
    background-color:white;
    border-color: #0B380B;
    border-style: solid;
    border-width: 1.5px;
    border-radius: 5px;
    font-size: 12pt;
    padding: 2.5px;
}

.pag-login button{ /* botoes*/
    border: none;
    font-size: 12pt;
    margin: 7%;
    padding: 4%;
    background-color: #0B380B;
    color: #DCF4AB;
}

label{
    font-size: 16pt;
    margin-top: 15px;
}