*{
    color: #0B380B;
}
body{
    background-color: #DCF4AB ;
}
.cadastrar label{
    margin-top: 10px;
}
.entrar, .cadastrar{
    display: flex;
    flex-direction: column;
}

.entrar{
    justify-content: center;
    border-right: black;
}
.pag-login{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

input{
    background-color:white;
    border-color: #0B380B;
    border-style: solid;
    border-width: 1.5px;
    border-radius: 5px;
    font-size: 12pt;
    padding: 2.5px;
}

input:nth-last-child(1){
    margin: 50px;
    padding: 10px;
    background-color: #0B380B;
    color: #DCF4AB;
}

label{
    font-size: 16pt;
}