{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<nav>
    <div>
        <h1>Plantinhas</h1><img src="{% static 'imagens/forest-for-icon.png' %}" alt="ícone de planta">
    </div>
    <a href="/">Início</a>
    <a href="/plantas/{{dados.codigo}}">Ache uma plantinha</a>
    <a href="/usuario/{{dados.codigo}}">Meus Jardins</a>
    <a> Ola, {{dados.nome}}</a>
</nav>
<h1>{{jardim.nome}}</h1>

{{msg}}
<div class="pag-plantadas">

    {% for planta in plantadas %}
    <form method="post">
        {% csrf_token %}
        <div class="plantada">
            <p>Nome: {{planta.codPlanta.nome}}</p>

            <p>
                Quantas vezes regar por semana: {{planta.diasRegar}}
            </p>

            <p>
                Pode sob sol direto?: {{planta.luz}}"
            </p>
            <p>
                Ela é venenosa?: {{planta.venenosa}}
            </p>

            <p>
                Quando pode ser colhida: {{planta.colher}}
            </p>
            <p>
                Sobre a poda: {{planta.podar}}
            </p>
            <p>
                Lugar: {{planta.codEspaco.lugar}}
            </p>

            <p>
                Intenção: {{planta.codTipo}}
            </p>

            <p>
                Observações:{{planta.observacoes}}
            </p>

            <button type="submit" value="{{planta.codPlanta.codigo}}" name="deletar">Retirar desse jardim</button>

        </div>
    </form>
    {% endfor %}

    <div class="achar">
        <form method="post">
            {% csrf_token %}
            <button type="submit">
                <strong> Achar um plantinha para esse jardim</strong>
            </button>
        </form>
    </div>
</div>

{% endblock %}