{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

{% if usuario == False %}
<nav>
    <div>
        <h1>Plantinhas</h1><img src="{% static 'imagens/forest-for-icon.png' %}" alt="ícone de planta">
    </div>
    <a href="/">Início</a>
    <a href="/plantas/0">Ache uma plantinha</a>
    <a href="/login">Login/Cadastro</a>
</nav>
{% else %}
<nav>
    <div>
        <h1>Plantinhas</h1><img src="{% static 'imagens/forest-for-icon.png' %}" alt="ícone de planta">
    </div>
    <a href="/">Início</a>
    <a href="/plantas/{{dados.codigo}}">Ache uma plantinha</a>
    <a href="/usuario/{{dados.codigo}}">Meus Jardins</a>
    <a> Olá, {{dados.nome}}</a>
</nav>
{% endif %}

<h1>Ache uma plantinha!</h1>
<div class="pag-plantas">

    <main>
        <form action="" method="get">
            <h3>Encontre sua plantinha:</h3>


            <input type="text" name="nome" id="busca"
                placeholder="Procure pelo nome de uma espécie ou deixe em branco para conferir todas as plantas cadastradas.">

            <h3>Ou encontramos uma pra você!</h3>

            <div>
                <label for="">Onde você quer plantar?
                    <select name="espaco" id="busca">
                        <option value=""></option>
                        <option value="Vaso">Vaso</option>
                        <option value="Chão">Canteiro</option>
                        <option value="Suspensa">Suspensa</option>
                    </select>
                </label>

                <label for="">Para que você quer a plantinha?
                    <select name="intencao" id="busca">
                        <option value=""></option>
                        {% for inte in intencao %}
                        <option value="{{inte.codigo}}">{{inte.tipo}}</option>
                        {% endfor %}

                    </select>
                </label>

                <label for="">A temperatura local é:
                    <select name="temperatura" id="busca">
                        <option value=""></option>
                        {% for t in temp %}
                        <option value="{{t.codigo}}">{{t.nome}}</option>
                        {% endfor %}

                    </select>
                </label>
                <button type="submit" name="mostrar"><img src="{% static 'imagens/lupa.png' %}" alt=""></button>

            </div>
        </form>
    </main>

    <section class="exibicao">

        {% if plantas %}

        {% for planta in plantas %}
        <div class="planta" id="planta{{planta.codigo}}">
            <img src="{% static 'imagens/vaso-amarela.png' %}" alt="" class="img{{planta.codigo}}">

            <div class="principal{{planta.codigo}}" id="principal">

                <label for="">
                    <strong> Nome: </strong><input type="text" name="nome" disabled="disabled"
                        placeholder="{{planta.nome}}">
                    <strong> Intenção: </strong><input type="text" name="intencao" disabled="disabled"
                        placeholder="{{planta.codTipo}}">
                </label>
                <label for="">
                    <strong> Lugar: </strong> <input type="text" name="lugar" disabled="disabled"
                        placeholder=" {{planta.codEspaco.lugar}}">
                    <strong> Temperatura: </strong> <input type="text" name="temperatura" disabled="disabled"
                        placeholder="{{planta.codEspaco.codClima.nome}}">
                </label>
            </div>

            <div class="info{{planta.codigo}}" id="info">
                <h2> <input type="text" name="nome" disabled="disabled" placeholder="{{planta.nome}}"></h2>

                <strong> Quantas vezes regar por semana: </strong><input type="text" name="diasRega" disabled="disabled"
                    placeholder="{{planta.diasRegar}}">

                <strong> Pode sob sol direto?:
                    {% if planta.luz == True %}
                    <input type="checkbox" name="luz" disabled="disabled" style="height:2vh" checked>
                    {% else%}
                    <input type="checkbox" name="luz" disabled="disabled" style="height:2vh">
                    {% endif %}

                    {% if planta.venenosa == True %}
                    Ela é venenosa?: <input type="checkbox" name="venenosa" disabled="disabled" style="height:2vh;"
                        checked></strong>
                {%else%}
                Ela é venenosa?: <input type="checkbox" name="venenosa" disabled="disabled"
                    style="height:2vh;"></strong>
                {%endif%}

                <strong> Quando pode ser colhida: </strong><input type="text" name="colher" disabled="disabled"
                    placeholder="{{planta.colher}}">

                <strong> Sobre a poda: </strong><input type="text" name="poda" disabled="disabled"
                    placeholder="{{planta.podar}}">

                <strong> Lugar: </strong> <input type="text" name="lugar" disabled="disabled"
                    placeholder=" {{planta.codEspaco.lugar}}">


                <strong> Intenção: </strong><input type="text" name="intencao" disabled="disabled"
                    placeholder="{{planta.codTipo}}">

                <strong> Observações: </strong>
                <div id="obs" style="">
                    {{planta.observacoes}}
                </div>
                <!-- <input type="textarea" name="observacoes" disabled="disabled"
                    placeholder=""> -->

                <form method="post" style="background-color: #677E52 ;position: static; margin-top: -10vh;">
                    {% csrf_token %}

                    {% if usuario %}

                    <select name="jardim">
                        {% for jardim in jardins %}
                        <option value="{{jardim.codigo}}"> {{jardim.nome}}</option>
                        {% endfor %}
                    </select>


                    <button class="plantar" id="plantar{{planta.codigo}}" name="codigo"
                        value="{{planta.codigo}}">Plantar {{planta.nome}}</button>
                    {% else %}

                    <h2>Se cadastre ou entre para ter um jardim.</p>

                        {% endif %}
                </form>
            </div>

            <button id="{{planta.codigo}}" onclick="mais(this.id)" class="mais{{planta.codigo}}">Ver mais</button>

            <button id="{{planta.codigo}}" onclick="menos(this.id)" class="menos{{planta.codigo}}">Ver menos</button>

        </div>
        {% endfor %}

        {% else %}
        <h1>
            Ops... nenhuma planta assim por aqui...
            <p> Tente outras palavras ou... </p>
            <p>
                Você pode adiciona-la ao Plantinhas <a href="cadastrar/0">aqui</a>
            </p>
        </h1>

        {% endif %}
    </section>
</div>

{% endblock %}