{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script defer src="{% static 'scripts/scripts.js' %}"></script>
    <link rel="shortcut icon" href="../static/imagens/icon-forest.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <title>Plantinhas</title>
</head>
<body>
    <nav>
        <div><h1>Plantinhas</h1><img src="{% static 'imagens/forest-for-icon.png' %}"alt="ícone de planta"></div>
        <a href="/">Início</a>
        <a href="/plantas/0">Ache uma plantinha</a>
        <a href="/jardim/cadastro/1">Monte seu jardim</a>
        <a href="/login">Login/Cadastro</a>
    </nav>
    <!-- <h2>hello {{dados.nome}}</h2> -->

{% block content %}


{% endblock %}

<footer>
        <a href=""><strong>Contact</strong></a>
        <a href=""><strong>Download</strong>
        </a>
        <a href=""><strong>E-mail</strong></a>
        <a href=""><strong>Support</strong></a>
        <a href=""><strong>Privacy Policy</strong></a>
    </footer>
</body>
</html>


