{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<div class="pag-index">
    <main>
        <h1>aaaaaa</h1>
        <!-- imagens -->
        <!-- javascript -->
        <!-- fundo #DCF4AB -->
    </main>
    <header>
        <h3>Ache um planta para você</h3>
        <button></button>
    </header>
    <section>
        <h2>Sobre nós</h2>
        <div>
            <h3>motivo</h3>
        </div>
        <div>
            <h3>Beneficios</h3>
        </div>
        <div>
            <h3>Para que serve</h3>
        </div>
    </section>
    <footer>
        <a href="">Contact</a>
        <a href="">Download</a>
        <a href="">Press</a>
        <a href="">Email</a>
        <a href="">Support</a>
        <a href="">Privacy Policy</a>
    </footer>











</div>

{% endblock %}