{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<div class="pag-index">
    <main>
        <h1>SLIDE SHOW HERE</h1>
        <!-- imagens -->
        <!-- javascript -->
        <!-- fundo #DCF4AB -->
    </main>
    <header>
        <div>
            <h3 class="ache_uma_planta">Ache um planta para você</h3>
        </div>
        <form  method="post">
            {% csrf_token %}
            <div class="pesquisar_plantinha">
                <div class="pesquisar_regiao">
                    <!-- <h3>Qual a região onde pretende plantar ?</h3>
                    <select name="clima">
                        <option value="clima">Norte</option>
                        <option value="clima">Nordeste</option>
                        <option value="clima">Centro-Oeste</option>
                        <option value="clima">Suldeste</option>
                        <option value="clima">Sul</option>
                    </select> -->
                </div>
                
                <div class="pesquisar_espaco">
                    
                </div>

                <div class="pesquisar_intencao">
                    
                </div>
            </div>
        <div class="pesquisar-img">
            <img src="{% static 'imagens/grass-310691_960_720.png' %}" alt="grass">
        </div>
    </header>
    <section>
        <div class="sobrenos">
            <h2>Sobre nós</h2>
        </div>
        <div class="motivos">
            <h3>Motivo</h3>
            <h3>Beneficios</h3>
            <h3>Para que serve</h3>
        </div>
    </section>
    <footer>
        <a href="">Contact</a>
        <a href="">Download</a>
        <a href="">Press</a>
        <a href="">Email</a>
        <a href="">Support</a>
        <a href="">Privacy Policy</a>
    </footer>











</div>

{% endblock %}
