{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<div>


</div>
<div class="pag-index">
    <main>
        <div>
            <h1>Encontre, plante e acompanhe.</h1>
            <!-- imagens -->
            <!-- javascript -->
            <!-- fundo #DCF4AB -->
        </div>  
    </main>
    <header>
        <h3>Para que posso usar o Plantinhas?</h3>
        <div class="header_paragrafo">
            <h4>Plantinhas te ajuda a cuidar do seu jardim, seja sugerindo espécies que se adequem à sua realidade, seja
                criando um ambiente virtual que te ajuda a acompanhar a evolução das suas plantas!</h4>
        </div>
        <div class="header_opcoes">
            <div class="ache_uma_planta" onclick = "clicar_planta()">
                <img src="../static/imagens/icone-header.png" alt="mão com planta">
                <a href="plantas/0"><strong> Achar a planta ideal <br>pra você!</strong> </a>
            </div>
            <!-- <div class="header_espaço">
                <div class = "header_linha"></div> 
            </div> -->
            <div class="monte_seu_jardim" onclick = "clicar_jardim()">
                <img src="../static/imagens/icone-header-2.png" alt="plantas no jardim">
                <a href="jardim/cadastro/1"><strong> Montar seu jardim!</strong> </a>
            </div>
        </div>
        <!-- <div class="header_lanha"></div> -->
        <!-- <form  method="post">
            {% csrf_token %}
            <div class="pesquisar_plantinha">
                <div class="pesquisar_regiao">
                    <h3>Qual a região onde pretende plantar ?</h3>
                    <select name="clima">
                        <option value="clima">Norte</option>
                        <option value="clima">Nordeste</option>
                        <option value="clima">Centro-Oeste</option>
                        <option value="clima">Suldeste</option>
                        <option value="clima">Sul</option>
                    </select> -->
        <!-- </div>
                
                <div class="pesquisar_espaco">
                    
                </div>

                <div class="pesquisar_intencao">
                    
                </div>
            </div>
        <div class="pesquisar-img">
            <img src="{% static 'imagens/grass-310691_960_720.png' %}" alt="grass">
        </div> -->
    </header>
    <section id="section">
        <div>
            <h3>Mas por que plantar?</h3>
        </div>
        <h4 id="sono"></h4>
    </section>
    <!-- <footer>
        <a href=""><strong>Contact</strong></a>
        <a href=""><strong>Download</strong>
        </a>
        <a href=""><strong>Press</strong>
        </a>
        <a href=""><strong>E-mail</strong></a>
        <a href=""><strong>Support</strong></a>
        <a href=""><strong>Privacy Policy</strong></a>
    </footer> -->

</div>

{% endblock %}