{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<h1>{{jardim.nome}}</h1>

{{msg}}
<div class="pag-plantadas">

    {% for planta in plantadas %}
    <form method="post">
        {% csrf_token %}
        <div class="plantada">
            <p>Nome: {{planta.codPlanta.nome}}</p>

            <p>
                Quantas vezes regar por semana: {{planta.diasRegar}}
            </p>

            <p>
                Pode sob sol direto?: {{planta.luz}}"
            </p>
            <p>
                Ela é venenosa?: {{planta.venenosa}}
            </p>

            <p>
                Quando pode ser colhida: {{planta.colher}}
            </p>
            <p>
                Sobre a poda: {{planta.podar}}
            </p>
            <p>
                Lugar: {{planta.codEspaco.lugar}}
            </p>

            <p>
                Intenção: {{planta.codTipo}}
            </p>

            <p>
                Observações:{{planta.observacoes}}
            </p>

            <button type="submit" value="{{planta.codPlanta.codigo}}" name="deletar">Retirar desse jardim</button>

        </div>

    </form>
    {% endfor %}
</div>

{% endblock %}