{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<h1>Sobre seu novo jardim:</h1>
<div class="pag-cad-jardim">
    <form action="" method="post">
        {% csrf_token %}

        <label for="">Nome:</label>
        <input type="text" name="nome" id="" placeholder="dê um nome pro seu jardim!">

        <label for="" width:100%>
            <input type="checkbox" name="ensolarado" id="">Tem sol nesse jardim!
        </label>


        <label for="">Intenção:</label>
        <select name="intencao" id="">
            <option value="1">Decoração</option>
            <option value="2">Tempero</option>
            <option value="3">Chá</option>
            <option value="4">PANC</option>
        </select>

        <label for="">O lugar das plantas:</label>
        <select name="lugar" id="">
            <option value="Vaso">Vaso</option>
            <option value="Chão">Chão</option>
            <option value="Suspensa">Suspensa</option>
        </select>

        <label for="">A temperatura no lugar é:</label>
        <select name="temperatura" id="busca">
            <option value="6">Alta</option>
            <option value="5">Amena</option>
            <option value="4">Baixa</option>
            <option value="3">Muito Baixa</option>
        </select>

        <button type="submit">Agora ache uma plantinha!</button>
    </form>

</div>

{% endblock %}