{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script defer src="{% static 'scripts/scripts.js' %}"></script>
    <link rel="shortcut icon" href="../static/imagens/icon-forest.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <title>Plantinhas</title>
</head>
<body>
    <nav>
        <div><h1>Plantinhas</h1><img src="{% static 'imagens/forest-for-icon.png' %}"alt="ícone de planta"></div>
        <a href="/">Início</a>
        <a href="/plantas/0">Ache uma plantinha</a>
        <a href="/login">Login/Cadastro</a>
    </nav>

<section> 
<div class="pag-login">
    
    <form  method="POST">
        {% csrf_token %}
        <div class="entrar">
            <h1>Já possui conta?</h1>
            
            {{msgErro}}
            
            <label for="">Nome de usuário: </label>
            <input name="usernameE" type="text">

            <label for="">Senha: </label>
            <input name="senhaE" type="password">
            
            <button type="submit" value="Entrar" name="entrar">Entrar</button>
        </div>
    </form>
    
    <img src="{% static 'imagens/p-vaso.png' %}" alt="plantinha">


    <form  method="POST">
        {% csrf_token %}
        <div class="cadastrar">

            <h1>Ainda não possui uma conta?</h1>
            {{msgCad}}

            <label for="">Nome completo: </label>
            <input name="nomeC" type="text">

            <label for="">Nome de usuário: </label>
            <input name="usernameC" type="text">

            <label for="">E-mail: </label>
            <input name="emailC" type="email">

            <label for="">Confirme o e-mail: </label>
            <input name="emailC" type="email">

            <label for="">Senha: </label>
            <input name="senhaC" type="password">

            <label for="">Confirme sua senha: </label>
            <input name="senhaC" type="password">

            <button type="submit" value="Cadastrar" name="cadastrar">Cadastrar</button>

        </div>
    </form>
</div>

</section>
    
<footer>
        <a href=""><strong>Contact</strong></a>
        <a href=""><strong>Download</strong>
        </a>
        <a href=""><strong>E-mail</strong></a>
        <a href=""><strong>Support</strong></a>
        <a href=""><strong>Privacy Policy</strong></a>
    </footer>
</body>
</html>