{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<div class="pag-login">
    
    <form  method="POST">
        {% csrf_token %}
        <div class="entrar">
            <h1>Já possui conta?</h1>
            
            {{msgErro}}
            
            <label for="">Nome de usuário: </label>
            <input name="usernameE" type="text">

            <label for="">Senha: </label>
            <input name="senhaE" type="password">
            
            <button type="submit" value="Entrar" name="entrar">Entrar</button>
        </div>
    </form>
    
    <img src="{% static 'imagens/p-vaso.png' %}" alt="plantinha">


    <form  method="POST">
        {% csrf_token %}
        <div class="cadastrar">

            <h1>Ainda não possui uma conta?</h1>
            {{msgCad}}

            <label for="">Nome completo: </label>
            <input name="nomeC" type="text">

            <label for="">Nome de usuário: </label>
            <input name="usernameC" type="text">

            <label for="">E-mail: </label>
            <input name="emailC" type="email">

            <label for="">Confirme o e-mail: </label>
            <input name="emailC" type="email">

            <label for="">Senha: </label>
            <input name="senhaC" type="password">

            <label for="">Confirme sua senha: </label>
            <input name="senhaC" type="password">

            <button type="submit" value="Cadastrar" name="cadastrar">Cadastrar</button>

        </div>
    </form>
</div>

{% endblock %}