{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<h1>Ache uma plantinha!</h1>
<div class="pag-plantas">

    <main>
        <form action="" method="get">

            <h3>Encontre sua plantinha:</h3>

            <input type="text" name="nome" id="busca" placeholder="Busque por um nome">

            <h3>Ou encontramos uma pra você!</h3>

            <div>
                <label for="">Onde você quer plantar?
                    <select name="espaco" id="busca">
                        <option value="Vaso">Vaso</option>
                        <option value="Chão">Canteiro</option>
                        <option value="Suspensa">Suspensa</option>
                    </select>
                </label>

                <label for="">Para que você quer a plantinha?
                    <select name="intencao" id="busca">
                        <option value="1">Decoração</option>
                        <option value="2">Tempero</option>
                        <option value="3">Chá</option>
                        <option value="4">PANC</option>
                    </select>
                </label>

                <label for="">A temperatura local é:
                    <select name="temperatura" id="busca">
                        <option value="6">Alta</option>
                        <option value="5">Amena</option>
                        <option value="4">Baixa</option>
                        <option value="3">Muito Baixa</option>
                    </select>
                </label>
                
                <button type="submit"></button>

            </div>
        </form>
    </main>

    <section class="exibicao">

        {% for planta in plantas %}
        <div class="planta">
            <img src="{% static 'imagens/vaso-amarela.png' %}" alt="">
            <label>
                <p><strong>Nome:</strong> {{planta.nome}}
                    <strong>Intenção:</strong> {{planta.codTipo}}</p>
                <p><strong>Lugar:</strong> {{planta.codEspaco.lugar}}
                    <strong>Temperatura:</strong> {{planta.codEspaco.codClima.nome}}</p>
            </label>
            <button>Ver mais</button>
        </div>
        {% endfor %}

    </section>

    <footer color="white">
        {{luz}}
        {{intencao}}
        {{espaco}}
        {{temperatura}}
    </footer>

</div>

{% endblock %}