{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<h1>Ache uma plantinha!</h1>
<div class="pag-plantas">

    <main>
        <form action="" method="get">

            <h3>Encontre sua plantinha:</h3>

            <input type="text" name="nome" id="busca" placeholder="Busque por um nome">

            <h3>Ou encontramos uma pra você!</h3>

            <div>
                <label for="">Onde você quer plantar?
                    <select name="espaco" id="busca">
                        <option value="Vaso">Vaso</option>
                        <option value="Chão">Canteiro</option>
                        <option value="Suspensa">Suspensa</option>
                    </select>
                </label>

                <label for="">Para que você quer a plantinha?
                    <select name="intencao" id="busca">
                        <option value="1">Decoração</option>
                        <option value="2">Tempero</option>
                        <option value="3">Chá</option>
                        <option value="4">PANC</option>
                    </select>
                </label>

                <label for="">A temperatura local é:
                    <select name="temperatura" id="busca">
                        <option value="6">Alta</option>
                        <option value="5">Amena</option>
                        <option value="4">Baixa</option>
                        <option value="3">Muito Baixa</option>
                    </select>
                </label>

                <button type="submit" name="mostrar"></button>

            </div>
        </form>
    </main>

    <section class="exibicao">

        {% for planta in plantas %}
        <div class="planta">
            <img src="{% static 'imagens/vaso-amarela.png' %}" alt="" class="img{{planta.codigo}}">

            <div class="principal{{planta.codigo}}" id="principal">

                <label for="">
                    <strong> Nome: </strong><input type="text" name="nome" disabled="disabled"
                        placeholder="{{planta.nome}}">
                    <strong> Intenção: </strong><input type="text" name="intencao" disabled="disabled"
                        placeholder="{{planta.codTipo}}">
                </label>
                <label for="">
                    <strong> Lugar: </strong> <input type="text" name="lugar" disabled="disabled"
                        placeholder=" {{planta.codEspaco.lugar}}">
                    <strong> Temperatura: </strong> <input type="text" name="temperatura" disabled="disabled"
                        placeholder="{{planta.codEspaco.codClima.nome}}">
                </label>
            </div>

            <div class="info{{planta.codigo}}" id="info" >
                <strong> Nome: <input type="text" name="nome" disabled="disabled"
                    placeholder="{{planta.nome}}"></strong>

                <strong> Quantas vezes regar por semana: </strong><input type="text" name="nome" disabled="disabled"
                    placeholder="{{planta.diasRegar}}">

                <strong> Pode sob sol direto?: <input type="checkbox" name="nome" disabled="disabled"
                    placeholder="{{planta.luz}}"></strong>

                <strong> Quando pode ser colhida: </strong><input type="text" name="nome" disabled="disabled"
                    placeholder="{{planta.colher}}">

                <strong> Sobre a poda: </strong><input type="text" name="nome" disabled="disabled"
                    placeholder="{{planta.podar}}">

                <strong> Lugar: </strong> <input type="text" name="lugar" disabled="disabled"
                    placeholder=" {{planta.codEspaco.lugar}}">

                <strong> Ela é venenosa?: <input type="checkbox" name="nome" disabled="disabled"
                    placeholder="{{planta.venenosa}}" style="margin:0;" ></strong>


                <strong> Intenção: </strong><input type="text" name="intencao" disabled="disabled"
                    placeholder="{{planta.codTipo}}">

                <strong> Observações: </strong><input type="text" name="intencao" disabled="disabled"
                    placeholder="{{planta.observacoes}}">

                <button class="plantar" id="plantar{{planta.codigo}}">Plantar</button>
            </div>

            <button id="{{planta.codigo}}" onclick="mais(this.id)" class="mais{{planta.codigo}}">Ver mais</button>


            <button id="{{planta.codigo}}" onclick="menos(this.id)" class="menos{{planta.codigo}}">Ver menos</button>


        </div>


        {% endfor %}



    </section>

    <footer color="white">
        {{luz}}
        {{intencao}}
        {{espaco}}
        {{temperatura}}
    </footer>

</div>

{% endblock %}