{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<h1>Esses são os seus jardins:</h1>
<div class="pag-usuario">


    {% for jardim in jardins %}
    <div class="jardim">

        <input type="text" name="nome" id="" disabled="disabled" value="{{jardim.nome}}">

        <label for="">
            Recebe muita luz do sol:  <input type="checkbox" name="luz" id="" value="{{jardim.ensolarado}}"
            disabled="disabled"></label>

        <button type="submit">Plantas</button>
    </div>
    {% endfor %}

    <div class="add-jardim">
        <form method="post">
            {% csrf_token %}
            <button type="submit">
                Criar um novo jardim
            </button>
        </form>
    </div>
</div>


{% endblock %}